<ion-view view-title="Add furigana & translation" class="myPadding">
  <form name="textForm" novalidate>
    <div class="list list-inset">
      <label class="item item-input">
        <textarea rows="10" placeholder="Insert japaness or korean" required ng-model="japaness"></textarea>
      </label>
      <br>
    </div>
    <div class="list list-inset">
      <ruby ng-repeat="item in result">
        <rb>{{item.Surface}}</rb>
        <rt>{{item.Furigana}}</rt>
      </ruby>
      <ruby>
        <rb>{{result.Surface}}</rb>
        <rt>{{result.Furigana}}</rt>
      </ruby>
    </div>
    <div class="list list-inset">
      {{transText}}
    </div>

    <div class="tabs-striped tabs-background-positive tabs-color-light">
      <div class="tabs">
        <a class="tab-item ion-plus-round" ng-click="convert()" ng-disabled="textForm.$invalid">
          Add Furigana
        </a>
        <a class="tab-item ion-ios-loop-strong" ng-click="translation()" ng-disabled="textForm.$invalid">
          Translation
        </a>
      </div>
    </div>
  </form>
</ion-view>
