<ion-view view-title="Add furigana" class="myPadding">
  <form name="textForm" novalidate>
    <div class="list list-inset">
      <label class="item item-input">
        <textarea rows="8" placeholder="Insert japaness" required ng-model="japaness"></textarea>
      </label>
      <br>
    </div>
    <div class="list list-inset">
      <ruby ng-repeat="item in result">
        <rb>{{item.Surface}}</rb>
        <rt>{{item.Furigana}}</rt>
        <button ng-click="addWord()" ng-if="item.Furigana !== undefined">+</button>
      </ruby>
      <ruby>
        <rb>{{result.Surface}}</rb>
        <rt>{{result.Furigana}}</rt>
        <button ng-click="addWord()" ng-if="result.Furigana !== undefined">+</button>
      </ruby>
    </div>

    <div class="row">
      <button class="button button-block button-positive ion-ios-loop-strong" ng-disabled="textForm.$invalid" ng-click="convert()">
        Convert Chinese to Furigana
      </button>
    </div>
    <div class="tabs">
      <a class="tab-item ion-ios-gear" modal-select="" ng-model="grade" options="selectables" modal-title="Select a your grade">
        Grade Choice
        <div class="option">
          {{option}}
        </div>
      </a>
      <a class="tab-item ion-wand" ng-click="clear()">
        clear
      </a>
    </div>
  </form>
</ion-view>
